.formGrp {
  label {
    font-weight: 500;
    margin: 0 0.5rem;
  }
  &:has(.v-messages) {
    .label {
      line-height: 40px;
      align-items: flex-start;
    }
  }
  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    label {
      font-size: 1rem;
    }

    @media screen and (max-width: 1280px) {
      justify-content: flex-start;
      padding-bottom: 0;
      padding-top: 0;
      label {
        line-height: 1rem;
        margin-top: 8px;
      }
    }
  }
  .checkbox {
    .v-label {
      margin-left: -0.25rem;
    }
  }
}
label .necessary {
  color: red;
  text-decoration: none !important;
}

input:-internal-autofill-selected {
  background: #fff !important;
}
.checkGrp {
  display: flex;
  flex-wrap: wrap;
  .v-input {
    display: contents;
  }
}
