* {
  font-size: 1rem;
}
.menu-text {
  font-size: 14px;
}
.panel-heading-btn {
  i {
    font-size: 0.65rem;
  }
}
.v-btn--size-small {
  .v-btn__content {
    font-size: 14px;
  }
}
.page-header {
  font-weight: bold;
}
.cardDialog {
  padding: 1rem;
  h4 {
    font-size: 20px;
  }
  .v-card-subtitle {
    opacity: unset;
  }
  .tabBtn {
    margin: 0.5rem 0 1rem 0;
    border-right: 0;
    border-left: 0;
    button {
      background: #fff;
      border-radius: 0.25rem;
      border: 1px solid #fff;
      margin: 0 0.2rem;
      color: #6c7582;
      &:after {
        border: none;
      }
      &:hover {
        color: #333;
      }
    }
    .v-tab--selected {
      background-color: #0156a2;
      color: #fff;
      border: 1px solid #0156a2;
      &:hover {
        color: #fff;
        .v-btn__content {
          color: #fff;
        }
      }
      .v-btn__content {
        color: #fff;
        border: 0px;
        &::after {
          border: 0px;
        }
        text-shadow: unset;
      }
    }
    .v-tabs {
      border-radius: 0px;
    }
    .v-tab__slider {
      display: none;
    }
    .v-btn__content {
      .form-label {
        display: block;
      }
    }
  }
  .closeBtn {
    box-shadow: none;
    svg {
      font-size: 1.5rem !important;
    }
  }
}
.selectInfo {
  border-radius: 0.25rem;
  background-color: #e8e8e8;
  .v-input {
    background-color: #fff;
  }
  h4 {
    margin-left: 6px;
  }
  .label {
    margin-right: 0;
    label {
      line-height: 1.25rem;
      margin: 0;
      align-items: center;
      display: flex;
    }
  }

  @media screen and (max-width: 1280px) {
    h4 {
      margin-bottom: 1rem;
    }
  }
}

.treeComponent {
  .ctree-tree-node__square {
    padding-left: 12px;
  }
  .ctree-tree-node__title {
    height: 40px;
    line-height: 40px;
    margin-left: -24px;
    padding-left: 36px;
    border-radius: 0.25rem;
  }
}
.app-sidebar-float-submenu-container {
  .app-sidebar-float-submenu {
    .menu-item {
      .menu-link {
        .menu-text {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
.app-sidebar {
  .menu .menu-profile {
    .menu-profile-cover {
      background: unset;
    }
  }
  .app-sidebar-content {
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: url('/src/assets/login_bg.png') repeat-x bottom;
      background-size: cover;
      top: 0;
      z-index: -1;
      opacity: 0.15;
    }
  }
}
.app-sidebar-minified {
  .app-sidebar {
    .app-sidebar-content {
      &::after {
        background: none;
      }
    }
  }
}
.app-header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .navbar-header {
    .navbar-brand {
      padding-left: 14px;
      font-weight: 400;
      img {
        margin-right: 12px;
      }
      b {
        font-size: 1.25rem;
        margin-right: 0.25rem;
      }
    }
  }
}
.loginPage {
  .login-header {
    h1 {
      font-size: 1.75rem;
      margin-bottom: 0;
      span {
        margin-left: 0.25rem;
        font-size: 1.75rem;
        font-weight: 300;
      }
    }
    small {
      margin-top: 0.5rem;
    }
  }
  .loginBtn {
    font-weight: bold;
  }
}
.login.login-v1 {
  .login-container {
    .login-body {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-size: cover;
        background-image: url('@/assets/nhri_bg.png');
        background-position: cover;
        width: 100%;
        opacity: 0.35;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
.loginForm {
  .v-input--density-default .v-field--variant-filled {
    background-color: rgba(255, 255, 255);
    color: #121010;
    border-radius: 0.25rem;
    .v-field__outline {
      display: none;
    }
  }
  .v-selection-control {
    color: #fff;
    .v-label {
      opacity: 1;
    }
  }
}
